@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom google font "Lato"*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    overflow-x: hidden;
  }

  body {
    @apply bg-zinc-50 overflow-x-hidden;
  }
}
